<meta charset="UTF-8">
<title>Node Val</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/2.3.8/css/dataTables.bootstrap5.css">
<link rel="stylesheet" href="/public/css/formusu.css">

<style>
    body { padding-top:50px; }
    tbody>tr>td{
        align-content: center;
    }
</style>

