<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <h1>Contáctanos</h1>
       <form action="/api/v1/enviar" method="POST" class="formusu">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Asunto:</label>
                <input type="text" class="form-control" id="asunto" aria-describedby="emailHelp" placeholder="Asuntito" name="asunto">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email:</label>
                <input type="text" class="form-control" id="mail" aria-describedby="emailHelp" placeholder="Valen" name="mail">
            </div>
            
            <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Comentario:</label>
            <textarea class="form-control" placeholder="Holii, gracias por tu maravilloso servicio" id="comentario" name="comentario" rows="3"></textarea>
            </div>

            <input type="checkbox"><label for=""> Quiero recibir ofertas al correo</label><br><br>
           
            <button type="submit" class="btn botoncito">Enviar</button>
        </form>
    
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>


</body>
</html>